@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100vw;
  min-height: 100vh;
  min-width: fit-content;
  overflow-x: hidden;
}
body{
  font-family: Poppins, sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgb(var(--theme-color));
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.6rem;
  cursor: pointer;
  transition: filter 0.2s linear;
}
button:not([disabled]):hover{
  filter: brightness(1.1)
}
input, select{
  min-width: 150px;
  outline: none;
  border: solid 1px rgba(1,1,1,0.2);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}
input:disabled, select:disabled, button:disabled{
  cursor: not-allowed;
}
button:disabled{
  background: rgb(175,175,175);
}
select:not([disabled]):hover{
  border: solid 1px rgba(var(--theme-color),1);
}
input:focus{
  border: solid 1px rgba(var(--theme-color),1);
}

#pageWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pageMain{
  flex: 1;
}

.breadcrumbs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  font-weight: 600;
  color: rgb(var(--theme-color));

  &>span:last-child{
    color: rgb(var(--default-text-color));
    font-weight: 400;
  }
}

:root{
  --theme-color: 73,23,172;
  --default-text-color: 25,25,25;

  --default-page-size: clamp(350px, 100%, 1150px);
}