.home{
  width: clamp(350px, 100%, 1150px);
  padding: 3rem 0;  
}

.textContainer{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  & > small{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(1,1,1,0.3);
  }
  & > h1{
    margin-bottom: 1rem;
    color: rgb(var(--theme-color));
  }
  & > p{
    font-weight: 600;
    color: rgb(var(--default-text-color));
  }
}

.buttonContainer{
  margin-top: 1.75rem;
  display: flex;
  gap: 0.5rem;
}