.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(1,1,1,0.3);
  z-index: 100;

  &.visible{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wrapper{
  width: 350px;  
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 16px 4px rgba(25,25,25,0.25);

  &>header{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(var(--theme-color));

    svg{
      // color: rgb(255,66,66);
      color: white;
      cursor: pointer;
    }    
  }

  &>main{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &>footer{
    min-height: 35px;
    padding: 0.3rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1.5px rgba(25,25,25,0.2);

    button{
      font-size: 0.8rem !important;
      padding: 0.7rem 0.7rem;
    }
  }
}