.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(1,1,1,0.3);
  z-index: 100;

  &.visible{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wrapper{
  width: 350px;  
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 16px 4px rgba(25,25,25,0.25);

  &>header{
    height: 35px;
    background-color: rgb(var(--theme-color));
  }

  &>main{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &>footer{
    height: 35px;
    border-top: solid 1.5px rgba(25,25,25,0.2);
  }
}