.header {
  width: 100vw;
  position: relative;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-bottom: solid 1.5px rgba(1, 1, 1, 0.1);

  &>main {
    width: var(--default-page-size);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: rgb(var(--theme-color));

    @media only screen and (max-width: 400px){
      justify-content: flex-end;

      a{
        text-align: center;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;  

  p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 800;
    color: rgb(var(--theme-color));
  }

  img {
    height: clamp(55px, 10vw, 75px);
    // max-height: 75px;
  }
}